@model IEnumerable<StudentGradingSystem.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family:'Times New Roman', Times, serif;color:darkblue">Subjec List</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success ml-2">Create New</a>&nbsp;&nbsp;
    <a href="@Url.Action("Index", "StudentGrades")" class="btn btn-secondary">Go To Students</a><br /><br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
